.productsPage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  height: 406px;
  width: 100%;
  background-color: #fffefe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 850px 0px;
  box-shadow: 5px 6px 6px -3px rgba(255, 255, 255, 0.43);
  border-radius: 5px;
  padding: 25px 0px;
}
