.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products{
  margin: 0px 0px 10px 0px;
}

.productsPage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  height: 406px;
  width: 100%;
  background-color: #fffefe;
  display: grid;
  
  height: 330px;
  display: flex;
  justify-content: space-between;
  
  flex-direction: row;
  margin: 0px 0px;
  box-shadow: 5px 6px 6px -3px rgba(255, 255, 255, 0.43);
  border-radius: 5px;
  padding: 10px 0px;
}

.cartContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cartButton {
  margin-top: 70px;
  margin-bottom: 30px;
  background-color: #ff4455;
  color: white;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}